{% extends "base.html" %}
{% block content %}
<!-- 5 april 2024-->

        <!-- The display box-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="frame_tool_top_left">
                    <H1 class="center_text" >MEME</H1>
                    <hr class="hr_border">
                        <a title="Accepted filetypes: .FASTA">
                            <form method = "POST" enctype="multipart/form-data" target="_blank">
                                <p>Select the fasta file that you want to use and adjust the optional parameters.</p></a>
                                <input class="form-control" type="file" id="fasta" name="input_user_file">
                                <br>
                                <button type="button" onclick="showModal('maxmotif-modal')" class="btn btn-light">?</button>
                                <a title="put the max  amount of motifs you want the program to find">
                                    <label for="nmotifs1">Max amount of motifs to look for:</label>
                                </a>
                                <dialog id="maxmotif-modal">
                                    <h2>Maximum motif amount</h2>
                                    <p>The max motif amount ....</p>
                                    <button type="button" onclick="closeModal('maxmotif-modal')" class="btn btn-light">Close</button>
                                </dialog>
                                <div class="input-group input-group-ml mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Input Number</span>
                                    <input type="number" class="form-control" aria-label="Sizing example input" id="nmotifs1" name="max_amount_of_motifs" aria-describedby="inputGroup-sizing-sm" min="0" max="99">
                                </div>

                                <button type="button" onclick="showModal('motifsize-modal')" class="btn btn-light">?</button>
                                <a title="put the max motifs size you want the program to give back">
                                    <label for="msize">Max motif size:</label>
                                </a>
                                <dialog id="motifsize-modal">
                                    <h2>Maximum motif Size</h2>
                                    <p>Setting the maximum motif size ....</p>
                                    <button type="button" onclick="closeModal('motifsize-modal')" class="btn btn-light">Close</button>
                                </dialog>
                                <div class="input-group input-group-ml mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Input Number</span>
                                    <input type="number" class="form-control" aria-label="Sizing example input" id="msize" name="max_motif_size" aria-describedby="inputGroup-sizing-sm" min="0" max="99">

                                </div>

                                <button type="button" onclick="showModal('minmotifs-modal')" class="btn btn-light">?</button>
                                <a title="put  min amount of motifs you want the program to give back">
                                    <label for="minsize">Min motif size:</label>
                                </a>
                                <dialog id="minmotifs-modal">
                                    <h2>Maximum motif Size</h2>
                                    <p>Setting the maximum motif size ....</p>
                                    <button type="button" onclick="closeModal('minmotifs-modal')" class="btn btn-light">Close</button>
                                </dialog>
                                <div class="input-group input-group-ml mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Input Number</span>
                                    <input type="number" class="form-control" aria-label="Sizing example input" id="minsize" name="min_motif_size" aria-describedby="inputGroup-sizing-sm" min="0" max="99">
                                </div>

                                <!-- Here's all the selectables for -->

                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" role="switch" id="DNA" name="seq_type_dna" value="DNA">
                                  <label class="form-check-label" for="DNA">DNA</label>
                                </div>

                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" role="switch" id="RNA" name="seq_type_rna" value="RNA">
                                  <label class="form-check-label" for="RNA">RNA</label>
                                </div>


                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" role="switch" id="Protein" name="seq_type_protein" value="Protein">
                                  <label class="form-check-label" for="Protein">Protein</label>
                                </div>
                                <br>
                                <input type="submit" value="Find the binding sites" class="btn btn-outline-success">
                            </form>
                    </div>
                </div>



        <!-- The display box-->
                <div class="col-sm-4"> 
                    <div class="frame_tool_top_right">
                        <H1 class="center_text" >SequenceLogo</H1>
                        <hr class="hr_border">
                        <img id="placeholder_img" src="https://weblogo.berkeley.edu/img/lexA.png" class="img-thumbnail" alt="sequence placeholder" title="source: https://weblogo.berkeley.edu/examples.html">
                        <div class="alert alert-secondary" role="alert">
                          <p>Here's an example of what image this tool will return.</p>
                        </div>
                        <a title="press the download button to download the generate sequence logo like seen in the example">
                            <button type="button" class="btn btn-outline-success">Download SequenceLogo</button></a>
                    </div>
                </div>
            </div>
        </div>
    

        <!-- Here is the main info body-->

        <div class="container pt-5 mb-5">
            <div class="row">
                <div class="col-sm-4"> 
                    <div class="frame_tool">
                        <h2 class="center_text">Input en Ouput files:</H2>
                        <hr class="hr_border">
                        <p>
                            To find motifs using MEME, the tool should be presented one or multiple sequences in a fasta, multi-fasta or plain-text.
                            The output of the program is one or more sequence logo pictures, the full list of these motifs is also saved in a seperate file (.html) and the sequence logo picture can be downloaded for later reference.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">     
                    <div class="frame_tool">
                        <h2 class="center_text">Progress</h2>
                        <hr class="hr_border">
                        <p class="center_text" >
                        Display commandline output here if possible</p>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <div class="alert alert-light alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}

                    </div>
                </div>

                <div class="col-sm-4"> 
                    <div class="frame_tool">
                        <h2 class="center_text" >Optional arguments:</h2>
                        <hr class="hr_border">
                        <p class="center_text">
                        <i>Explanation of the (optional) parameters for using MEME:</i><br>
                        Max amount of motifs to look for corresponds to the "-nmotifs" command argument in the commandline version of MEME.<br>
                        Max motif size: max nucleotide lenght of motif -maxw<br>
                        Min motif size: Minimum nucleotide lenght of motif -minw<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <script>
        function showModal(modalName) {
            const modal = document.querySelector(`#${modalName}`);
            modal.showModal();
        }

        function closeModal(modalName) {
            const modal = document.querySelector(`#${modalName}`);
            modal.close();
        }
    </script>
{% endblock %}

