{% extends "base.html" %}
{% block content %}
<!-- 27 maart 2024-->

        <!-- The display box-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="frame_tool_top_left">
                    <H1 class="center_text" >MEME</H1>
                    <hr class="hr_border">
                        <button type="button" onclick="showModal('uploadfasta-modal')" class="btn btn-light">?</button>
                            <p>Select the fasta file that you want to use and adjust the optional parameters.</p></a>
                            <dialog id="uploadfasta-modal">
                                    <h2>What is a Fasta file</h2>
                                    <p>FASTA format is a text-based format for representing either nucleotide sequences or peptide sequences, <br>
                                        which base pairs or amino acids are represented using single-letter codes.<br>
                                        A sequence in FASTA format begins with a single-line description <br>
                                        the extension for the file is .FASTA.
                                    </p>
                                    <button type="button" onclick="closeModal('uploadfasta-modal')" class="btn btn-light">Close</button>
                                </dialog>
                            <input class="form-control" type="file" id="fasta" name="myfile">
                            <br>
                            <form>
                                <button type="button" onclick="showModal('maxmotif-modal')" class="btn btn-light">?</button>
                                    <label for="nmotifs1">Max amount of motifs to look for:</label>
                                <dialog id="maxmotif-modal">
                                    <h2>Maximum motif amount</h2>
                                    <p> a motif is a nucleotide or amino-acid sequence pattern <br>
                                        that is widespread and usually assumed to be related to biological <br>
                                        function of the macromolecule. The input here will specify how many <br>
                                        motifs the program will look for.
                                    </p>
                                    <button type="button" onclick="closeModal('maxmotif-modal')" class="btn btn-light">Close</button>
                                </dialog>
                                <div class="input-group input-group-ml mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Input Number</span>
                                    <input type="number" class="form-control" aria-label="Sizing example input" id="nmotifs1" name="nmotifs" aria-describedby="inputGroup-sizing-sm" min="0" max="99">
                                </div>

                                <button type="button" onclick="showModal('motifsize-modal')" class="btn btn-light">?</button>
                                    <label for="msize">Max motif size:</label>
                                <dialog id="motifsize-modal">
                                    <h2>Maximum motif Size</h2>
                                    <p>Put the max motifs size you want the program to give back.</p>
                                    <button type="button" onclick="closeModal('motifsize-modal')" class="btn btn-light">Close</button>
                                </dialog>
                                <div class="input-group input-group-ml mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Input Number</span>
                                    <input type="number" class="form-control" aria-label="Sizing example input" id="msize" name="msize" aria-describedby="inputGroup-sizing-sm" min="0" max="99">

                                </div>

                                <button type="button" onclick="showModal('minmotifs-modal')" class="btn btn-light">?</button>
                                    <label for="minsize">Min motif size:</label>
                                <dialog id="minmotifs-modal">
                                    <h2>Minimum motif Size</h2>
                                    <p>Put  min amount of motifs you want the program to give back</p>
                                    <button type="button" onclick="closeModal('minmotifs-modal')" class="btn btn-light">Close</button>
                                </dialog>
                                <div class="input-group input-group-ml mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Input Number</span>
                                    <input type="number" class="form-control" aria-label="Sizing example input" id="minsize" name="minsize" aria-describedby="inputGroup-sizing-sm" min="0" max="99">
                                </div>

                                <!-- Here's all the selectables for -->
                                <button type="button" onclick="showModal('DNA_RNA_Protein-modal')" class="btn btn-light">?</button>
                                    <label for="DNA_RNA_Protein">DNA/RNA/Protein selector:</label>
                                <dialog id="DNA_RNA_Protein-modal">
                                    <h2>DNA/RNA/Protein selector</h2>
                                    <p>Select what type of sequence is in the FASTA file</p>
                                    <button type="button" onclick="closeModal('DNA_RNA_Protein-modal')" class="btn btn-light">Close</button>
                                </dialog>
                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" role="switch" id="DNA" name="Seq-type" value="DNA">
                                  <label class="form-check-label" for="DNA">DNA</label>
                                </div>

                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" role="switch" id="RNA" name="Seq-type" value="RNA">
                                  <label class="form-check-label" for="RNA">RNA</label>
                                </div>


                                <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" role="switch" id="Protein" name="Seq-type" value="Protein">
                                  <label class="form-check-label" for="Protein">Protein</label>
                                </div>
                            </form>
                            <br>
                            <button type="button" class="btn btn-outline-success">Find the binding sites</button>
                    </div>
                </div>



        <!-- The display box-->
                <div class="col-sm-4"> 
                    <div class="frame_tool_top_right">
                        <H1 class="center_text" >SequenceLogo</H1>
                        <hr class="hr_border">
                        <img id="placeholder_img" src="https://weblogo.berkeley.edu/img/lexA.png" class="img-thumbnail" alt="sequence placeholder" title="source: https://weblogo.berkeley.edu/examples.html">
                        <div class="alert alert-secondary" role="alert">
                          <p>Here's an example of what image this tool will return.</p>
                        </div>

                         <button type="button" onclick="showModal('Download-modal')" class="btn btn-light">?</button>
                                <dialog id="Download-modal">
                                    <h2>Download sequence</h2>
                                    <p>Press the button to download the generated <br>
                                    sequence logo like seen in the example<br>
                                    </p>
                                    <button type="button" onclick="closeModal('Download-modal')" class="btn btn-light">Close</button>
                                </dialog>
                            <button type="button" class="btn btn-outline-success">Download SequenceLogo</button>
                    </div>
                </div>
            </div>
        </div>
    

        <!-- Here is the main info body-->

        <div class="container pt-5 mb-5">
            <div class="row">
                <div class="col-sm-4"> 
                    <div class="frame_tool">
                        <h2 class="center_text">Input en Ouput files:</H2>
                        <hr class="hr_border">
                        <p>
                            To find motifs using MEME, the tool should be presented one or multiple sequences in a fasta, multi-fasta or plain-text.
                            The output of the program is one or more sequence logo pictures, the full list of these motifs is also saved in a seperate file (.html) and the sequence logo picture can be downloaded for later reference.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">     
                    <div class="frame_tool">
                        <h2 class="center_text">Progress</h2>
                        <hr class="hr_border">
                        <p class="center_text" >
                        Display commandline output here if possible</p>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <div class="alert alert-light alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}

                    </div>
                </div>

                <div class="col-sm-4"> 
                    <div class="frame_tool">
                        <h2 class="center_text" >Optional arguments:</h2>
                        <hr class="hr_border">
                        <p class="center_text">
                        <i>Explanation of the (optional) parameters for using MEME:</i><br>
                        Max amount of motifs to look for corresponds to the "-nmotifs" command argument in the commandline version of MEME.<br>
                        Max motif size: max nucleotide lenght of motif -maxw<br>
                        Min motif size: Minimum nucleotide lenght of motif -minw<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <script>
        function showModal(modalName) {
            const modal = document.querySelector(`#${modalName}`);
            modal.showModal();
        }

        function closeModal(modalName) {
            const modal = document.querySelector(`#${modalName}`);
            modal.close();
        }
    </script>
{% endblock %}

