{% extends "base.html" %}
{% block content %}


    <h1 class="d-flex justify-content-center">Dictionary from Flask to HTML</h1>
    <div class="d-flex justify-content-center">
        <ul>
            {% for key, value in motif_dict.items() %}
                <img class="img-thumbnail" src="/static/{{ value }}">
                <br>
                <li class="alert alert-primary" role="alert">{{ key }}: {{ value }}</li>
                <br>
            {% endfor %}
        </ul>
    </div>
    <h5 class="d-flex justify-content-center" >Reference</h5>
    <div class="d-flex justify-content-center">
            <span class="citation">
              Timothy L. Bailey and Charles Elkan,
              "Fitting a mixture model by expectation maximization to
              discover motifs in biopolymers",
              <em>Proceedings of the Second International Conference on Intelligent Systems
              for Molecular Biology</em>, pp. 28-36, AAAI Press, Menlo Park, California, 1994.
              <a href="http://www.aaai.org/Papers/ISMB/1994/ISMB94-004.pdf">[full text]</a>
            </span>
    </div>

{% endblock %}
